<!DOCTYPE html>
<html>
    <!-- Meta Data 
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TvRex</title>
        <meta name="author" content="Holden Maudlin, Nick Pietrow">
        <meta name="description" content="T-Recs Landing page">
        <meta name="keyword" content="Fill in">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Styles 
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        {% load static %}
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'index/main.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'media/favicon.png'%}">
        <script src="main.js"></script>
        <!-- Icons 
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Google Analytics
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        
        </script>
    </head>
    <!-- Start of Main Page
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <body>

        <div class="pageBackground">
            <!-- Title
            ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <div class="contentContainer">
                <div class="headContainer">
                    <h1 class="headText">TvRex</h1>
                </div>
                <div class="actionContainer">
                    <h2>Curated monthly watchlists.</h2>
                    <h2>No algorithms & no bias!</h2>
                </div>
                <div class="formContainer">
                    <form autocomplete="off" id="inputForm" role="form" action="" method="post">
                        {% csrf_token %}
                        {{ email_form.as_p }}
                        <button class="button" type="submit"><span>Sign Up</span></button>
                    </form>
                </div>
                <div>
                </div>
            </div>
        </div>
    </body>
    <!-- End of Main Page
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
</html> 