<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% load static %}
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'index/main.css' %}">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <title>Hello, world!</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #000066" id="navbar">
            <a href="#"><img src="{% static 'index/assets/logo.jpeg' %}" style="width: 64px; height: 64px; border-radius: 5px;"></img></a>
            <a class="navbar-brand" id="siteName" href="#">TvRex</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                <a class="nav-item nav-link active" id="headItem" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link disabled" id="headItem" href="#" tabindex="-1" aria-disabled="true">Watchlists</a>
                </div>
            </div>
        </nav>
        <div class="wrapper">
            <div class="column">
                <div class="landing"> 
                    <div class="jumbotron" id="hero-left">
                        <h1 id="main-text" class="display-4">Monthly curated watchlists.</h1>
                        <h1 id="main-text" class="display-4">No algorithms, <span>no bias</span>.</h1>
                        <hr class="my-4">
                        <p style="font-size: 12pt">TvRex is delivered to your inbox monthly. We give you unique streaming recommendations to reduce the amount of time it takes to pick the next thing to watch.</p>
                        <div class="inputContainer">
                            <form autocomplete="off" id="inputForm" role="form" action="" method="post">
                                {% csrf_token %}
                                {{ email_form.as_p }}
                                <button class="button" type="submit"><span>Sign Up</span></button>
                            </form>
                        </div>               
                    </div>        
                    <div class="jumbotron" id="hero-right">
                        <div class="right-top">
                            <img id="typing" src="{% static 'index/assets/typing.svg' %}"></img>
                            <h2 id="step" class="display-4">Enter your email</h2>
                        </div>
                        <hr class="my-4">   
                        <div class="right-bottom">
                            <img id="typing" src="{% static 'index/assets/message.svg' %}"></img>
                            <h2 id="step" class="display-4">Receive the best Rex monthly</h2>
                        </div>
                    </div>
                </div>
                <div>
                    <h1 class="display-4" style="font-size: 26pt; text-align: center; margin-top: 50px;">Your favorite watchlists are <span>coming soon</span>!</h1>
                </div>
            </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>