<!DOCTYPE html>
<html>
    <!-- Meta Data 
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Holden Maudlin</title>
        <meta name="author" content="Holden Maudlin, Nick Pietrow">
        <meta name="description" content="T-Recs Landing page">
        <meta name="keyword" content="Fill in">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Styles 
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        {% load static %}
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'index/main.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'media/favicon.png'%}">
        <script src="main.js"></script>
        <!-- Icons 
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Google Analytics
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        
        </script>
    </head>
    <!-- Start of Main Page
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <body>
        <div class="container">
            <!-- Title
            ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <div class="contentContainer">
                <span>Welcome to T-Recs</span>
            </div>
        </div>
    </body>
    <!-- End of Main Page
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
</html>